.game {
	display: flex;
	flex-direction: column;

	.element {
		border: 1px solid #666;
		border-radius: 6px;
		background: #111;
		padding: .8rem 1rem .6rem;
		display: block;
		width: fit-content;
		height: fit-content;

		span:first-of-type {
			width: 1em;
			height: 1em;
			margin-left: .5rem;
		}
	}

	aside {
		margin-top: auto;
		height: 30vh;
		border-top: 1px solid #666;
		padding: 1rem;
		display: inline-flex;
		gap: .5rem;
	}

	main {
		height: 70vh;

		.element {
			margin: .5rem;
			// position: fixed;
			// z-index: 10;
		}
	}

	.temp {
		// position: fixed;
	}
}