.game {
	display: flex;
	flex-direction: column;

	main {
		height: 70vh;

		.element {
			margin: .5rem;
		}
	}

	aside {
		margin-top: auto;
		height: 30vh;
		border-top: 1px solid #666;
		padding: 1rem;
		display: inline-flex;
		gap: .5rem;
	}

	.element {
		border: 1px solid #666;
		border-radius: 6px;
		background: #111;
		padding: .8rem 1rem .6rem;
		display: block;
		width: fit-content;
		height: fit-content;

		&.moveable {
			position: absolute;
		}

		&.dragging {
			z-index: 10;
			pointer-events: none;
		}

		span:first-of-type {
			width: 1em;
			height: 1em;
			margin-left: .5rem;
		}
	}
}