.baseUser {
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 1080px) {
    width: 70px;
    height: 70px;
  }
}


.firstRing {
  background-color: transparent;
  border: 6px #C9C4D11A solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  @media screen and (min-width: 1080px) {
    border-width: 10px;
    width: 98px;
    height: 98px;
  }

  &.incomplete, &.GAME {
    $t: 6;
    $w: 50;
    clip-path: path("M 0, #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 #{$w} #{$w*0.5} L #{$w - $t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$w - $t} #{$w*0.5} L #{$w} #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 0 #{$w*0.5} Z");

    @media screen and (min-width: 1080px) {
      $t: 10;
      $w: 98;
      clip-path: path("M 0, #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 #{$w} #{$w*0.5} L #{$w - $t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$w - $t} #{$w*0.5} L #{$w} #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 0 #{$w*0.5} Z");
    }
  }

}

.secondRing {
  background: transparent;
  border: 6px #C9C4D11A solid;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  @media screen and (min-width: 1080px) {
    border-width: 10px;
    width: 130px;
    height: 130px;
  }
  
  &.incomplete, &.GAME {
    $t: 6;
    $w: 66;
    clip-path: path("M 0, #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 #{$w} #{$w*0.5} L #{$w - $t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$w - $t} #{$w*0.5} L #{$w} #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 0 #{$w*0.5} Z");

    @media screen and (min-width: 1080px) {
      $t: 10;
      $w: 130;
      clip-path: path("M 0, #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 #{$w} #{$w*0.5} L #{$w - $t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$w - $t} #{$w*0.5} L #{$w} #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 0 #{$w*0.5} Z");
    }
  }
}

.thirdRing {
  background: transparent;
  border: 6px #C9C4D11A solid;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  @media screen and (min-width: 1080px) {
    border-width: 10px;
    width: 162px;
    height: 162px;
  }

  &.incomplete, &.GAME {
    $t: 6;
    $w: 82;
    clip-path: path("M 0, #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 #{$w} #{$w*0.5} L #{$w - $t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$w - $t} #{$w*0.5} L #{$w} #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 0 #{$w*0.5} Z");

    @media screen and (min-width: 1080px) {
      $t: 10;
      $w: 162;
      clip-path: path("M 0, #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 #{$w} #{$w*0.5} L #{$w - $t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$w - $t} #{$w*0.5} L #{$w} #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 0 #{$w*0.5} Z");
    }
  }

  
}

.fourthRing {
  background: transparent;
  border: 6px #C9C4D11A solid;
  border-radius: 50%;
  width: 98px;
  height: 98px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  @media screen and (min-width: 1080px) {
    border-width: 10px;
    width: 194px;
    height: 194px;
  }

  &.incomplete, &.GAME {
    $t: 6;
    $w: 98;
    clip-path: path("M 0, #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 #{$w} #{$w*0.5} L #{$w - $t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$w - $t} #{$w*0.5} L #{$w} #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 0 #{$w*0.5} Z");

    @media screen and (min-width: 1080px) {
      $t: 10;
      $w: 194;
      clip-path: path("M 0, #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 #{$w} #{$w*0.5} L #{$w - $t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$w - $t} #{$w*0.5} L #{$w} #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 0 #{$w*0.5} Z");
    }
  }
}

.DISCORD {
  $DISCORD-COLOR: #0077FF;
  
  &.completed {
    border-color: $DISCORD-COLOR;
  }
  
  &.incomplete {
    border: none;
    background-image: conic-gradient($DISCORD-COLOR, transparent 80%);
    animation: spin 1s linear infinite;
  }
}

.HACKATHON {
  $HACKATHON-COLOR:  #56E29E;

  &.completed {
    border-color: $HACKATHON-COLOR;
  }

  &.incomplete {
    border: none;
    background-image: conic-gradient($HACKATHON-COLOR, transparent 80%);
    animation: spin 5s linear infinite;
  }
}

.NEWSLETTER {
  $NEWSLETTER-COLOR:  #DB6583;
  &.completed {
    border-color: $NEWSLETTER-COLOR;
  }

  &.incomplete {
    border: none;
    background-image: conic-gradient($NEWSLETTER-COLOR, transparent 80%);
    animation: spin 5s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.GAME {
  border: none;
  $activity-1: conic-gradient(
                  rgb(149, 122, 255) 0% 8%,
                  transparent 8% 10%,
                  rgb(149, 122, 255, 0.35) 10% 18%,
                  transparent 18% 20%,
                  rgb(149, 122, 255, 0.35) 20% 28%,
                  transparent 28% 30%,
                  rgb(149, 122, 255, 0.35) 30% 38%,
                  transparent 38% 40%,
                  rgb(149, 122, 255, 0.35) 40% 48%,
                  transparent 48% 50%,
                  rgb(149, 122, 255, 0.35) 50% 58%,
                  transparent 58% 60%,
                  rgb(149, 122, 255, 0.35) 60% 68%,
                  transparent 68% 70%,
                  rgb(149, 122, 255, 0.35) 70% 78%,
                  transparent 78% 80%,
                  rgb(149, 122, 255, 0.35) 80% 88%,
                  transparent 88% 90%,
                  rgb(149, 122, 255, 0.35) 90% 98%,
                  transparent 98% 100%
  );
  $activity-2: conic-gradient(
                  rgb(149, 122, 255) 0% 8%,
                  transparent 8% 10%,
                  rgb(149, 122, 255) 10% 18%,
                  transparent 18% 20%,
                  rgb(149, 122, 255, 0.35) 20% 28%,
                  transparent 28% 30%,
                  rgb(149, 122, 255, 0.35) 30% 38%,
                  transparent 38% 40%,
                  rgb(149, 122, 255, 0.35) 40% 48%,
                  transparent 48% 50%,
                  rgb(149, 122, 255, 0.35) 50% 58%,
                  transparent 58% 60%,
                  rgb(149, 122, 255, 0.35) 60% 68%,
                  transparent 68% 70%,
                  rgb(149, 122, 255, 0.35) 70% 78%,
                  transparent 78% 80%,
                  rgb(149, 122, 255, 0.35) 80% 88%,
                  transparent 88% 90%,
                  rgb(149, 122, 255, 0.35) 90% 98%,
                  transparent 98% 100%
  );
  $activity-3: conic-gradient(
                  rgb(149, 122, 255) 0% 8%,
                  transparent 8% 10%,
                  rgb(149, 122, 255) 10% 18%,
                  transparent 18% 20%,
                  rgb(149, 122, 255) 20% 28%,
                  transparent 28% 30%,
                  rgb(149, 122, 255, 0.35) 30% 38%,
                  transparent 38% 40%,
                  rgb(149, 122, 255, 0.35) 40% 48%,
                  transparent 48% 50%,
                  rgb(149, 122, 255, 0.35) 50% 58%,
                  transparent 58% 60%,
                  rgb(149, 122, 255, 0.35) 60% 68%,
                  transparent 68% 70%,
                  rgb(149, 122, 255, 0.35) 70% 78%,
                  transparent 78% 80%,
                  rgb(149, 122, 255, 0.35) 80% 88%,
                  transparent 88% 90%,
                  rgb(149, 122, 255, 0.35) 90% 98%,
                  transparent 98% 100%
  );
  $activity-4: conic-gradient(
                  rgb(149, 122, 255) 0% 8%,
                  transparent 8% 10%,
                  rgb(149, 122, 255) 10% 18%,
                  transparent 18% 20%,
                  rgb(149, 122, 255) 20% 28%,
                  transparent 28% 30%,
                  rgb(149, 122, 255) 30% 38%,
                  transparent 38% 40%,
                  rgb(149, 122, 255, 0.35) 40% 48%,
                  transparent 48% 50%,
                  rgb(149, 122, 255, 0.35) 50% 58%,
                  transparent 58% 60%,
                  rgb(149, 122, 255, 0.35) 60% 68%,
                  transparent 68% 70%,
                  rgb(149, 122, 255, 0.35) 70% 78%,
                  transparent 78% 80%,
                  rgb(149, 122, 255, 0.35) 80% 88%,
                  transparent 88% 90%,
                  rgb(149, 122, 255, 0.35) 90% 98%,
                  transparent 98% 100%
  );
  $activity-5: conic-gradient(
                  rgb(149, 122, 255) 0% 8%,
                  transparent 8% 10%,
                  rgb(149, 122, 255) 10% 18%,
                  transparent 18% 20%,
                  rgb(149, 122, 255) 20% 28%,
                  transparent 28% 30%,
                  rgb(149, 122, 255) 30% 38%,
                  transparent 38% 40%,
                  rgb(149, 122, 255) 40% 48%,
                  transparent 48% 50%,
                  rgb(149, 122, 255, 0.35) 50% 58%,
                  transparent 58% 60%,
                  rgb(149, 122, 255, 0.35) 60% 68%,
                  transparent 68% 70%,
                  rgb(149, 122, 255, 0.35) 70% 78%,
                  transparent 78% 80%,
                  rgb(149, 122, 255, 0.35) 80% 88%,
                  transparent 88% 90%,
                  rgb(149, 122, 255, 0.35) 90% 98%,
                  transparent 98% 100%
  );
  $activity-6: conic-gradient(
                  rgb(149, 122, 255) 0% 8%,
                  transparent 8% 10%,
                  rgb(149, 122, 255) 10% 18%,
                  transparent 18% 20%,
                  rgb(149, 122, 255) 20% 28%,
                  transparent 28% 30%,
                  rgb(149, 122, 255) 30% 38%,
                  transparent 38% 40%,
                  rgb(149, 122, 255) 40% 48%,
                  transparent 48% 50%,
                  rgb(149, 122, 255) 50% 58%,
                  transparent 58% 60%,
                  rgb(149, 122, 255, 0.35) 60% 68%,
                  transparent 68% 70%,
                  rgb(149, 122, 255, 0.35) 70% 78%,
                  transparent 78% 80%,
                  rgb(149, 122, 255, 0.35) 80% 88%,
                  transparent 88% 90%,
                  rgb(149, 122, 255, 0.35) 90% 98%,
                  transparent 98% 100%
  );
  $activity-7: conic-gradient(
                  rgb(149, 122, 255) 0% 8%,
                  transparent 8% 10%,
                  rgb(149, 122, 255) 10% 18%,
                  transparent 18% 20%,
                  rgb(149, 122, 255) 20% 28%,
                  transparent 28% 30%,
                  rgb(149, 122, 255) 30% 38%,
                  transparent 38% 40%,
                  rgb(149, 122, 255) 40% 48%,
                  transparent 48% 50%,
                  rgb(149, 122, 255) 50% 58%,
                  transparent 58% 60%,
                  rgb(149, 122, 255) 60% 68%,
                  transparent 68% 70%,
                  rgb(149, 122, 255, 0.35) 70% 78%,
                  transparent 78% 80%,
                  rgb(149, 122, 255, 0.35) 80% 88%,
                  transparent 88% 90%,
                  rgb(149, 122, 255, 0.35) 90% 98%,
                  transparent 98% 100%
  );
  $activity-8: conic-gradient(
                  rgb(149, 122, 255) 0% 8%,
                  transparent 8% 10%,
                  rgb(149, 122, 255) 10% 18%,
                  transparent 18% 20%,
                  rgb(149, 122, 255) 20% 28%,
                  transparent 28% 30%,
                  rgb(149, 122, 255) 30% 38%,
                  transparent 38% 40%,
                  rgb(149, 122, 255) 40% 48%,
                  transparent 48% 50%,
                  rgb(149, 122, 255) 50% 58%,
                  transparent 58% 60%,
                  rgb(149, 122, 255) 60% 68%,
                  transparent 68% 70%,
                  rgb(149, 122, 255) 70% 78%,
                  transparent 78% 80%,
                  rgb(149, 122, 255, 0.35) 80% 88%,
                  transparent 88% 90%,
                  rgb(149, 122, 255, 0.35) 90% 98%,
                  transparent 98% 100%
  );
  $activity-9: conic-gradient(
                  rgb(149, 122, 255) 0% 8%,
                  transparent 8% 10%,
                  rgb(149, 122, 255) 10% 18%,
                  transparent 18% 20%,
                  rgb(149, 122, 255) 20% 28%,
                  transparent 28% 30%,
                  rgb(149, 122, 255) 30% 38%,
                  transparent 38% 40%,
                  rgb(149, 122, 255) 40% 48%,
                  transparent 48% 50%,
                  rgb(149, 122, 255) 50% 58%,
                  transparent 58% 60%,
                  rgb(149, 122, 255) 60% 68%,
                  transparent 68% 70%,
                  rgb(149, 122, 255) 70% 78%,
                  transparent 78% 80%,
                  rgb(149, 122, 255) 80% 88%,
                  transparent 88% 90%,
                  rgb(149, 122, 255, 0.35) 90% 98%,
                  transparent 98% 100%
  );
  $activity-10: conic-gradient(
                  rgb(149, 122, 255) 0% 8%,
                  transparent 8% 10%,
                  rgb(149, 122, 255) 10% 18%,
                  transparent 18% 20%,
                  rgb(149, 122, 255) 20% 28%,
                  transparent 28% 30%,
                  rgb(149, 122, 255) 30% 38%,
                  transparent 38% 40%,
                  rgb(149, 122, 255) 40% 48%,
                  transparent 48% 50%,
                  rgb(149, 122, 255) 50% 58%,
                  transparent 58% 60%,
                  rgb(149, 122, 255) 60% 68%,
                  transparent 68% 70%,
                  rgb(149, 122, 255) 70% 78%,
                  transparent 78% 80%,
                  rgb(149, 122, 255) 80% 88%,
                  transparent 88% 90%,
                  rgb(149, 122, 255) 90% 98%,
                  transparent 98% 100%
  );
  
  &.GAME-1 {
    background-image: $activity-1;
  }
  &.GAME-2 {
    background-image: $activity-2;
  }
  &.GAME-3 {
    background-image: $activity-3;
  }
  &.GAME-4 {
    background-image: $activity-4;
  }
  &.GAME-5 {
    background-image: $activity-5;
  }
  &.GAME-6 {
    background-image: $activity-6;
  }
  &.GAME-7 {
    background-image: $activity-7;
  }
  &.GAME-8 {
    background-image: $activity-8;
  }
  &.GAME-9 {
    background-image: $activity-9;
  }
  &.GAME-10 {
    background-image: $activity-10;
  }
}