@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

.Toastify__progress-bar-theme--dark {
  background: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #6210CC, #ff2d55) !important;
}

@layer components {
  .activations {
    .pinpoint{
      width: 70px;
      height: 70px;
      position: relative;

      .content{
        width: 65%;
        height: 65%;
        position: absolute;
        background: #ffffff1a;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
      }
      .pinpoint-ring{
        width: 100%;
        height: 100%;
      }
      svg{
        width: 100%;
        height: 100%;
        
        .circle{
          stroke-dashoffset: 0;
          stroke-dasharray:300;
          stroke-width:  7;
        }
      }
    }
  }
  
  .mobileBg {
    background: radial-gradient(58.89% 72.1% at 64.57% 48.7%, rgba(0, 0, 0, 0.00) 0%, #000 100%), #26242A;
  }
  
  .tvBg {
    background: radial-gradient(58.89% 72.1% at 64.57% 48.7%, rgba(0, 0, 0, 0.00) 0%, #000 100%), linear-gradient(0deg, #1F1F1F 0%, #1F1F1F 100%), linear-gradient(0deg, #26242A 0%, #26242A 100%), #26242A;
  }
  
  .spin {
    transform-origin: center;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}